<h1>Question ID: <%= @question.id %></h1>
<p>Title: <%= @question.title %></p>
<p>Question: <%= @question.description %></p>
<p style="font-size:10px">Asked by: <%= @question.user.full_name %></p>
<p>Answers:</p> 
<% if @question.answers.all.count != 0 %>
	<% @question.answers.all.each do |row| %>
		<p><%= row.description %></p> 
		<p style="font-size:10px">Answered by: <%= row.user.full_name %></p>
	<% end %>
<% else %>
	<p>No answers to this question yet. Be the first to contribute!</p>
<%end%>

<form action="/questions/<%=@question.id%>/answers/new" method="get">
	<input type="submit" value="Add an answer">
</form>